body{
    background-color: lightgrey;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: 'Helvetica', sans-serif;
    margin-top: 50px;
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 600;
    color: #333;
}


.medicine-form .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}


.medicine-form label {
    font-size: 16px;
    margin-bottom: 8px;
    color: #555;
}


.medicine-form input {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: all 0.3s ease;
    background-color: #f9f9f9;
    outline: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
}

.medicine-form input:focus {
    background-color: #fff;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.btn-primary, .btn-secondary {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
}


.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

@media (max-width: 768px) {
    .form-buttons {
        flex-direction: column;
    }

    .form-buttons a, .form-buttons button {
        width: 100%;
        margin-top: 10px;
    }

    .btn-primary, .btn-secondary {
        width: 100%;
      
    }
     .btn-secondary {
        width: 100%;
       position: relative;
       top: 15px;
    }
}


input[type="text"], input[type="number"] {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 12px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input[type="text"]:hover, input[type="number"]:hover {
    border-color: #aaa;
}
